<div>
  <ul class="results">
    <li>{{input placeholder="Title"}}</li>
    <li>{{input placeholder="Owner"}}</li>
    <li>{{input placeholder="City"}}</li>
    <li>{{input placeholder="Category"}}</li>
    <li>{{input type="number" placeholder="Bedrooms"}}</li>
    <li>{{input placeholder="Image Url"}}</li>
    <li>{{input placeholder="Description"}}</li>
    <li>{{input class="button" value="Submit New Listing" type="submit"}}</li>
  </ul>
</div>
